admin/Arduino LED switch.flow
[
	{
		"id": "dfa8dfe8.93708",
		"type": "ui_switch",
		"z": "a21919c7.600c78",
		"name": "",
		"label": "Arduino LED",
		"group": "266d7f95.22c97",
		"order": 0,
		"width": 0,
		"height": 0,
		"passthru": true,
		"decouple": "false",
		"topic": "/phishpi/test/led/status",
		"style": "",
		"onvalue": "true",
		"onvalueType": "bool",
		"onicon": "",
		"oncolor": "",
		"offvalue": "false",
		"offvalueType": "bool",
		"officon": "",
		"offcolor": "",
		"x": 377,
		"y": 115,
		"wires": [
			[
				"792d0315.5ab38c",
				"8995eba9.186178"
			]
		]
	},
	{
		"id": "2d0a9183.4cabae",
		"type": "gpio out",
		"z": "a21919c7.600c78",
		"name": "",
		"state": "OUTPUT",
		"pin": "13",
		"i2cDelay": "0",
		"i2cAddress": "",
		"i2cRegister": "",
		"outputs": 0,
		"board": "43ddffec.a5e22",
		"x": 1054,
		"y": 187,
		"wires": []
	},
	{
		"id": "792d0315.5ab38c",
		"type": "rbe",
		"z": "a21919c7.600c78",
		"name": "",
		"func": "rbe",
		"gap": "",
		"start": "",
		"inout": "out",
		"x": 618,
		"y": 227,
		"wires": [
			[
				"68ca1e01.e8d7"
			]
		]
	},
	{
		"id": "68ca1e01.e8d7",
		"type": "msg-resend",
		"z": "a21919c7.600c78",
		"interval": "1",
		"maximum": "0",
		"bytopic": true,
		"clone": false,
		"name": "",
		"x": 897,
		"y": 238,
		"wires": [
			[
				"2d0a9183.4cabae"
			]
		]
	},
	{
		"id": "133a2088.c15daf",
		"type": "inject",
		"z": "a21919c7.600c78",
		"name": "",
		"topic": "/phishpi/test/led/status",
		"payload": "init",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": true,
		"x": 141,
		"y": 225,
		"wires": [
			[
				"8995eba9.186178"
			]
		]
	},
	{
		"id": "8995eba9.186178",
		"type": "subflow:7669456.965c5bc",
		"z": "a21919c7.600c78",
		"x": 375,
		"y": 218,
		"wires": [
			[
				"dfa8dfe8.93708"
			]
		]
	}
]