admin/LED Control.flow
[
	{
		"id": "7ca34cf2.39de94",
		"type": "ui_slider",
		"z": "cfb0b4d7.323e28",
		"name": "White Slider",
		"label": "",
		"group": "81ab0b7.e8829f8",
		"order": 2,
		"width": 0,
		"height": 0,
		"passthru": true,
		"topic": "/phishpi/led/white/level",
		"min": 0,
		"max": "100",
		"step": 1,
		"x": 556,
		"y": 198,
		"wires": [
			[
				"fe92e8c7.c5b738",
				"7e3ed437.5442cc"
			]
		]
	},
	{
		"id": "7e3ed437.5442cc",
		"type": "ui_gauge",
		"z": "cfb0b4d7.323e28",
		"name": "White Gauge",
		"group": "81ab0b7.e8829f8",
		"order": 3,
		"width": 0,
		"height": 0,
		"gtype": "gage",
		"title": "",
		"label": "%",
		"format": "{{value}}",
		"min": 0,
		"max": "100",
		"colors": [
			"#ffffff",
			"#ffffff",
			"#ffffff"
		],
		"seg1": "",
		"seg2": "",
		"x": 554,
		"y": 253,
		"wires": []
	},
	{
		"id": "9c87a62f.b64d68",
		"type": "ui_gauge",
		"z": "cfb0b4d7.323e28",
		"name": "Red Gauge",
		"group": "f0957928.1fe8b8",
		"order": 3,
		"width": 0,
		"height": 0,
		"gtype": "gage",
		"title": "",
		"label": "%",
		"format": "{{value}}",
		"min": 0,
		"max": "100",
		"colors": [
			"#ff0000",
			"#ff0000",
			"#ff0000"
		],
		"seg1": "",
		"seg2": "",
		"x": 548,
		"y": 536,
		"wires": []
	},
	{
		"id": "3dac4669.6f0c8a",
		"type": "ui_slider",
		"z": "cfb0b4d7.323e28",
		"name": "Red Slider",
		"label": "",
		"group": "f0957928.1fe8b8",
		"order": 2,
		"width": 0,
		"height": 0,
		"passthru": true,
		"topic": "/phishpi/led/red/level",
		"min": 0,
		"max": "100",
		"step": 1,
		"x": 550,
		"y": 473,
		"wires": [
			[
				"9c87a62f.b64d68",
				"42ade488.253d7c"
			]
		]
	},
	{
		"id": "8fa76acd.24b818",
		"type": "ui_slider",
		"z": "cfb0b4d7.323e28",
		"name": "Blue Slider",
		"label": "",
		"group": "21d6f2df.e6adfe",
		"order": 2,
		"width": 0,
		"height": 0,
		"passthru": true,
		"topic": "/phishpi/led/blue/level",
		"min": 0,
		"max": "100",
		"step": 1,
		"x": 545,
		"y": 764,
		"wires": [
			[
				"5e44c7ca.791108",
				"d2cd0d6b.ce3a3"
			]
		]
	},
	{
		"id": "5e44c7ca.791108",
		"type": "ui_gauge",
		"z": "cfb0b4d7.323e28",
		"name": "Blue Gauge",
		"group": "21d6f2df.e6adfe",
		"order": 3,
		"width": 0,
		"height": 0,
		"gtype": "gage",
		"title": "",
		"label": "%",
		"format": "{{value}}",
		"min": 0,
		"max": "100",
		"colors": [
			"#0000ff",
			"#0000ff",
			"#0000ff"
		],
		"seg1": "",
		"seg2": "",
		"x": 541,
		"y": 826,
		"wires": []
	},
	{
		"id": "fe92e8c7.c5b738",
		"type": "ui_numeric",
		"z": "cfb0b4d7.323e28",
		"name": "White Numeric",
		"label": "",
		"group": "81ab0b7.e8829f8",
		"order": 1,
		"width": 0,
		"height": 0,
		"passthru": true,
		"topic": "/phishpi/led/white/level",
		"format": "{{value}}",
		"min": 0,
		"max": "100",
		"step": 1,
		"x": 551,
		"y": 111,
		"wires": [
			[
				"7ca34cf2.39de94",
				"defd36c2.2965a8"
			]
		]
	},
	{
		"id": "42ade488.253d7c",
		"type": "ui_numeric",
		"z": "cfb0b4d7.323e28",
		"name": "Red Numeric",
		"label": "",
		"group": "f0957928.1fe8b8",
		"order": 1,
		"width": 0,
		"height": 0,
		"passthru": true,
		"topic": "/phishpi/led/red/level",
		"format": "{{value}}",
		"min": 0,
		"max": "100",
		"step": 1,
		"x": 553,
		"y": 390,
		"wires": [
			[
				"3dac4669.6f0c8a",
				"cc2365e0.6086d8"
			]
		]
	},
	{
		"id": "d2cd0d6b.ce3a3",
		"type": "ui_numeric",
		"z": "cfb0b4d7.323e28",
		"name": "Blue Numeric",
		"label": "",
		"group": "21d6f2df.e6adfe",
		"order": 1,
		"width": 0,
		"height": 0,
		"passthru": true,
		"topic": "/phishpi/led/blue/level",
		"format": "{{value}}",
		"min": 0,
		"max": "100",
		"step": 1,
		"x": 546,
		"y": 683,
		"wires": [
			[
				"8fa76acd.24b818",
				"8465a3a1.c7db5"
			]
		]
	},
	{
		"id": "defd36c2.2965a8",
		"type": "subflow:7669456.965c5bc",
		"z": "cfb0b4d7.323e28",
		"x": 551,
		"y": 50,
		"wires": [
			[
				"fe92e8c7.c5b738"
			]
		]
	},
	{
		"id": "5d7eb048.b7c24",
		"type": "inject",
		"z": "cfb0b4d7.323e28",
		"name": "",
		"topic": "/phishpi/led/white/level",
		"payload": "init",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": true,
		"x": 297,
		"y": 49,
		"wires": [
			[
				"defd36c2.2965a8"
			]
		]
	},
	{
		"id": "cc2365e0.6086d8",
		"type": "subflow:7669456.965c5bc",
		"z": "cfb0b4d7.323e28",
		"x": 553,
		"y": 330,
		"wires": [
			[
				"42ade488.253d7c"
			]
		]
	},
	{
		"id": "6623ed94.757b74",
		"type": "inject",
		"z": "cfb0b4d7.323e28",
		"name": "",
		"topic": "/phishpi/led/red/level",
		"payload": "init",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": true,
		"x": 306,
		"y": 330,
		"wires": [
			[
				"cc2365e0.6086d8"
			]
		]
	},
	{
		"id": "c949bc4e.8d2d6",
		"type": "inject",
		"z": "cfb0b4d7.323e28",
		"name": "",
		"topic": "/phishpi/led/blue/level",
		"payload": "init",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": true,
		"x": 300,
		"y": 623,
		"wires": [
			[
				"8465a3a1.c7db5"
			]
		]
	},
	{
		"id": "8465a3a1.c7db5",
		"type": "subflow:7669456.965c5bc",
		"z": "cfb0b4d7.323e28",
		"x": 547,
		"y": 623,
		"wires": [
			[
				"d2cd0d6b.ce3a3"
			]
		]
	}
]