admin/Ping Chart.flow
[
	{
		"id": "a1df672f.8b61f8",
		"type": "smooth",
		"z": "c7bd24e8.ff1668",
		"name": "",
		"action": "mean",
		"count": "60",
		"round": "",
		"mult": "multi",
		"x": 320,
		"y": 40,
		"wires": [
			[
				"673b1e20.6bf45"
			]
		]
	},
	{
		"id": "518697b.3ffae68",
		"type": "ping",
		"z": "c7bd24e8.ff1668",
		"name": "",
		"host": "www.google.com",
		"timer": "1",
		"x": 108.5,
		"y": 116.77778625488281,
		"wires": [
			[
				"a1df672f.8b61f8",
				"56743b0a.9ce774"
			]
		]
	},
	{
		"id": "56743b0a.9ce774",
		"type": "ui_chart",
		"z": "c7bd24e8.ff1668",
		"name": "",
		"group": "a08fb1c4.56f07",
		"order": 1,
		"width": 0,
		"height": 0,
		"label": "Ping",
		"chartType": "line",
		"legend": "true",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": false,
		"ymin": "",
		"ymax": "",
		"removeOlder": 1,
		"removeOlderPoints": "",
		"removeOlderUnit": "3600",
		"cutout": 0,
		"useOneColor": false,
		"colors": [
			"#060606",
			"#2fbbb4",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle": false,
		"x": 787,
		"y": 119,
		"wires": [
			[
				"e3d1dca0.71f36"
			],
			[]
		]
	},
	{
		"id": "fcd06700.c93328",
		"type": "ui_button",
		"z": "c7bd24e8.ff1668",
		"name": "",
		"group": "a08fb1c4.56f07",
		"order": 2,
		"width": 0,
		"height": 0,
		"passthru": false,
		"label": "Reset",
		"color": "",
		"bgcolor": "",
		"icon": "",
		"payload": "[]",
		"payloadType": "json",
		"topic": "",
		"x": 490,
		"y": 140,
		"wires": [
			[
				"56743b0a.9ce774"
			]
		]
	},
	{
		"id": "673b1e20.6bf45",
		"type": "change",
		"z": "c7bd24e8.ff1668",
		"name": "",
		"rules": [
			{
				"t": "change",
				"p": "topic",
				"pt": "msg",
				"from": "^(.*)$",
				"fromt": "re",
				"to": "$1 (smooth)",
				"tot": "str"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 510,
		"y": 40,
		"wires": [
			[
				"56743b0a.9ce774"
			]
		]
	},
	{
		"id": "bb2f86df.c8fb98",
		"type": "json",
		"z": "c7bd24e8.ff1668",
		"name": "",
		"pretty": false,
		"x": 626,
		"y": 242,
		"wires": [
			[
				"56743b0a.9ce774"
			]
		]
	},
	{
		"id": "e3d1dca0.71f36",
		"type": "delay",
		"z": "c7bd24e8.ff1668",
		"name": "",
		"pauseType": "rate",
		"timeout": "5",
		"timeoutUnits": "seconds",
		"rate": "1",
		"nbRateUnits": "10",
		"rateUnits": "second",
		"randomFirst": "1",
		"randomLast": "5",
		"randomUnits": "seconds",
		"drop": true,
		"x": 977,
		"y": 113,
		"wires": [
			[
				"7e7e9e9a.7648"
			]
		]
	},
	{
		"id": "7e7e9e9a.7648",
		"type": "file",
		"z": "c7bd24e8.ff1668",
		"name": "",
		"filename": "/home/pi/.phishpi/pingcharthistory",
		"appendNewline": true,
		"createDir": true,
		"overwriteFile": "true",
		"x": 975,
		"y": 184,
		"wires": []
	},
	{
		"id": "ee49f9c5.934fd8",
		"type": "file in",
		"z": "c7bd24e8.ff1668",
		"name": "",
		"filename": "/home/pi/.phishpi/pingcharthistory",
		"format": "utf8",
		"chunk": false,
		"sendError": false,
		"x": 361,
		"y": 245,
		"wires": [
			[
				"bb2f86df.c8fb98"
			]
		]
	},
	{
		"id": "755f2c3b.bc55d4",
		"type": "inject",
		"z": "c7bd24e8.ff1668",
		"name": "Once a Start",
		"topic": "",
		"payload": "true",
		"payloadType": "bool",
		"repeat": "",
		"crontab": "",
		"once": true,
		"x": 104,
		"y": 240,
		"wires": [
			[
				"ee49f9c5.934fd8"
			]
		]
	}
]